{% extends 'base.html' %}

{% block body %}
    <div class="layout-light mdl-layout mdl-js-layout">
        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <form action="{{ url_for("process") }}" method="post">
                        <div class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">Stock Portfolio Suggestion</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                {# Message #}
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <div class="mdl-grid error-message">
                                            <div class="mdl-cell mdl-cell--12-col">
                                                <h6>Please fix the following error(s)</h6>
                                            </div>
                                            <div class="mdl-cell mdl-cell--12-col">
                                                <ul class="mdl-list">
                                                    {% for message in messages %}
                                                        <li class="mdl-list__item">
                                                            <span class="mdl-list__item-primary-content">{{ message }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                {# /Message #}
                                {# User Input #}
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--4-col">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="number" id="invest_amt"
                                                   name="invest_amt" min="5000" step=".01" value="20000" required>
                                            <label class="mdl-textfield__label" for="invest_amt">($) Money to
                                                invest...</label>
                                            <span class="mdl-textfield__error">Required</span>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--4-col">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="number" id="days"
                                                   name="days" min="0" max="588" step="1">
                                            <label class="mdl-textfield__label" for="days">Business days to look
                                                back...</label>
                                            <span class="mdl-textfield__error">required</span>
                                        </div>
                                    </div>
                                </div>
                                {# /User Input #}
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--12-col">
                                        <h5>Please select 1 or 2 strategies:</h5>
                                    </div>
                                </div>
                                {# Five Investings #}
                                <div id="invest_group" class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--2-col">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                                   for="e_invest">
                                                <input id="e_invest" name="e_invest" type="checkbox"
                                                       class="mdl-checkbox__input">
                                                <span class="mdl-checkbox__label">Ethical Investing</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--2-col">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <label for="g_invest"
                                                   class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                                <input id="g_invest" name="g_invest" type="checkbox"
                                                       class="mdl-checkbox__input">
                                                <span class="mdl-checkbox__label">Growth Investing</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--2-col">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <label for="i_invest"
                                                   class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                                <input id="i_invest" name="i_invest" type="checkbox"
                                                       class="mdl-checkbox__input">
                                                <span class="mdl-checkbox__label">Index Investing</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--2-col">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <label for="q_invest"
                                                   class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                                <input id="q_invest" name="q_invest" type="checkbox"
                                                       class="mdl-checkbox__input">
                                                <span class="mdl-checkbox__label">Quality Investing</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--2-col">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <label for="v_invest"
                                                   class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                                <input id="v_invest" name="v_invest" type="checkbox"
                                                       class="mdl-checkbox__input">
                                                <span class="mdl-checkbox__label">Value Investing</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                {# /Five Investings #}
                                {# Slider #}
                                <div id="slider-group" class="mdl-grid" style="display: none;">
                                    <div class="mdl-cell mdl-cell--5-col">
                                        <div class="slider-field">
                                            <div id="percent-slider"></div>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--1-col"></div>
                                    <div class="mdl-cell mdl-cell--2-col">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input id="first_invest" name="first_invest" style="display: none;"
                                                   type="text" value="e_invest" required>
                                            <input id="first_percent" name="first_percent"
                                                   class="mdl-textfield__input" type="text"
                                                   value="50.00 %" required>
                                            <label for="first_percent" class="mdl-textfield__label">First
                                                Investing</label>
                                            <span class="mdl-textfield__error">Required</span>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--2-col">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input id="second_invest" name="second_invest" style="display: none;"
                                                   type="text" value="g_invest" required>
                                            <input id="second_percent" name="second_percent"
                                                   class="mdl-textfield__input" type="text"
                                                   value="50.00 %" required>
                                            <label for="second_percent" class="mdl-textfield__label">Second
                                                Investing</label>
                                            <span class="mdl-textfield__error">Required</span>
                                        </div>
                                    </div>
                                </div>
                                {# /Slider #}
                                {# Progress #}
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--10-col">
                                        <div id="progress"
                                             class="mdl-progress mdl-js-progress mdl-progress__indeterminate"
                                             style="width: 100%;display: none;"></div>
                                    </div>
                                </div>
                                {# /Progress #}
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <button type="submit"
                                        class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    Submit
                                </button>
                                <button type="reset" id="reset"
                                        class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    Reset
                                </button>
                                {% if has_past %}
                                    <a href="{{ url_for('history') }}"
                                       class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        History
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script type="text/javascript">
        // checkbox change trigger
        $('form input[type=checkbox]').on('click', checkboxClick);
        $(window).bind('pageshow', checkboxClick);

        function checkboxClick() {
            var $checkbox = $('#invest_group input[type=checkbox]');
            var $checked = $('#invest_group input[type=checkbox]:checked');
            var $unchecked = $('#invest_group input[type=checkbox]:not(:checked)');
            var $label = $checked.next('span');
            if ($checked.length >= 2) {
                $('#slider-group').fadeIn();
                $unchecked.attr('disabled', true);
                $unchecked.each(function () {
                    $('#invest_group label[for="' + this.id + '"]').addClass('is-disabled');
                });
                $('#first_percent + label').html($($label[0]).text());
                $('#first_invest').val($checked[0].id);
                $('#second_percent + label').html($($label[1]).text());
                $('#second_invest').val($checked[1].id);
            } else {
                $('#slider-group').fadeOut();
                $('#first_percent').val('50.00 %').trigger('change');
                $checkbox.attr('disabled', false);
                $checkbox.each(function () {
                    $('#invest_group label[for="' + this.id + '"]').removeClass('is-disabled');
                });
            }
        }

        // reset trigger
        $('#reset').click(function () {
            $('.mdl-checkbox.is-checked').removeClass('is-checked');
            $('#slider-group').fadeOut();
            $('#first_percent').val('50.00 %').trigger('change');
            $('#invest_group input[type=checkbox]').attr('disabled', false).each(function () {
                $('#invest_group label[for="' + this.id + '"]').removeClass('is-disabled');
            });
        });
        // slider init
        var percentSlider = $('#percent-slider')[0];
        noUiSlider.create(percentSlider, {
            animate: true,
            animationDuration: 300,
            start: [50],
            connect: [true, true],
            range: {
                'min': 0,
                '25%': 25,
                '50%': 50,
                '75%': 75,
                'max': 100
            },
            tooltips: true,
            behaviour: 'tap',
            ariaFormat: wNumb({
                decimals: 2
            }),
            format: wNumb({
                decimals: 2,
            }),
            pips: {
                mode: 'range',
                density: 3
            }
        });
        percentSlider.noUiSlider.on('update', function (values, handle) {
            $('#first_percent').val(parseFloat(values[0]).toFixed(2) + ' %');
            $('#second_percent').val((100 - parseFloat(values[0])).toFixed(2) + ' %');
        });
        $('#first_percent').change(function () {
            var v1 = parseFloat(this.value.split(' ')[0]);
            $('#first_percent').val(v1.toFixed(2) + ' %');
            $('#second_percent').val((100 - v1).toFixed(2) + ' %');
            percentSlider.noUiSlider.set([v1]);
        });
        $('#second_percent').change(function () {
            var v2 = parseFloat(this.value.split(' ')[0]);
            $('#first_percent').val((100 - v2).toFixed(2) + ' %');
            $('#second_percent').val(v2.toFixed(2) + ' %');
            percentSlider.noUiSlider.set([100 - v2]);
        });
        // show progress
        $('form').submit(function () {
            $('#progress').fadeIn();
        });
    </script>
{% endblock %}